@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">COMP 4976 Assignment 1</h1>
    <p>Jong Hwan (Harry) Seo A01229209</p>
    <p>Lawrence Liang A01242992</p>
    <img src="images/lawrenceharry.png" alt="Lawrence & Harry">
</div>
