@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<link href="/css/auth.css" rel="stylesheet">

<main class="form-signin w-100 m-auto">
    <div class="text-center">
        <h1 class="mb-3 headingFont">Confirm Email</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
    <hr/>
    <p class="text-muted">Return to <a id="login" class="text-decoration-none" asp-page="./login">login</a></p>
</main>
